<h2><%= @level.classification.name %> - <%= @level.name %></h2>
<% if @admin %>
  <h2>Привет <%= @user.username %></h2><br>
  Введите url для парсинга:
  
  <%= form_for(classification_level_path(@level.classification, @level)) do |f| %>

    <div class="form-group">
      <%= f.label :url, class: "fw-bold" %>
      <%= f.text_field :url, class: "col-12 mb-2 form-control p-1 pr-2" %>
    </div>

    <div class="actions mt-2">
      <%= f.submit "Отправить", class: "btn btn-primary" %>
      или <%= link_to "Назад", :back %>
    </div>
  <% end %>
<% end %>
