<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="col-11 m-auto p-5">
      <div class="col-7 d-inline-block">
        <%= link_to t('title'), root_path, class: "btn btn-primary" %>
      </div>
      <div class="col-4 d-inline-block text-right mb-1 float-right">
        <% if user_signed_in? %>
          <div class="d-inline-block">
            <%= content_tag "div", link_to(@user.username, users_show_path(name: @user.username)), class: "m-1 d-inline-block"%>
            <%= image_tag(@user.avatar.mini.url, class: "rounded") if @user.avatar? %>
          </div>
          <%= link_to t('in_form.edit'), edit_user_registration_path, class: "btn btn-primary m-1" %>
          <%= link_to t('in_form.log_out'), destroy_user_session_path, class: "btn btn-primary m-1", method: "DELETE" %>
        <% else %>
          <%= link_to t('in_form.reg'), cancel_user_registration_path, class: "btn btn-primary m-1" %>
          <%= link_to t('in_form.log_in'), new_user_session_path, class: "btn btn-primary m-1" %>
        <% end %>
      </div>

      <% unless flash.nil? %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%=key %>" id="win-message" role="alert">
            <%= value %>
            <button class="btn btn-close float-end" id="btn-close"></button>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
