<!DOCTYPE html>
<html>
  <head>
    <title>Tests for you</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="col-10 m-auto p-5">
      <%= link_to 'tests', root_path, class: "btn btn-primary" %>
      <% if user_signed_in? %>
        <%= @user.username %>
        <%= link_to 'edit', edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to 'log out', destroy_user_session_path, class: "btn btn-primary", method: "DELETE" %>
      <% else %>
        <%= link_to 'registration', cancel_user_registration_path, class: "btn btn-primary" %>
        <%= link_to 'log in', new_user_session_path, class: "btn btn-primary" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
